version: '3.2'

services:
  minio:
    container_name: etny-swift-stream
    image: quay.io/minio/minio:RELEASE.2023-03-13T19-46-17Z
    command: server /data/
    expose:
      - "9000"
    ports:
      - "127.0.0.1:9000:9000"
    environment:
      MINIO_ROOT_USER: swiftstreamadmin
      MINIO_ROOT_PASSWORD: swiftstreamadmin
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - ethernity
    volumes:
      - ./etny-swift-stream-data:/data

networks:
  ethernity:
    driver: bridge
