#
# Copyright (C) 2018, 2019 Ethernity HODL UG
#
# This file is part of ETHERNITY NODE.
#
# ETHERNITY SC is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

- name: Ethernity NODE 
  hosts: all
  connection: local
  become: yes
  gather_facts: yes
  vars:
    vagrant_plugins:
      - name: vagrant-libvirt
        version: 0.9.0
      - name: vagrant-reload
        version: 0.0.1
      - name: fog-libvirt
        version: 0.9.0
  pre_tasks:
  - name: "Ð¡heck config file"
    stat: 
      path: config
    register: config_file
  - block:
      - name: "Config file does not exist"
        debug:
          msg: "Config file does not exist. Please create <config> file in this directory with your wallet values or generate a random one." 
      - meta: end_play
    when: 
      - config_file.stat.exists == false
  roles:
    - role: generate_config_file
      when: 
        - lookup('ansible.builtin.env', 'FILE') == 'generate'
        - config_file.stat.exists == false
    - role: validate_config_file
    - role: uoi-io.libvirt
      libvirt_firewalld: false
      libvirt_selinux: false
      libvirt_config:
        - { option: 'listen_tls', value: 'listen_tls = 0' }
        - { option: 'listen_tcp', value: 'listen_tcp = 0' }
      libvirt_qemu_config:
        - { option: 'user', value: 'user = "+0"' }
        - { option: 'cgroup_device_acl', value: 'cgroup_device_acl = [ "/dev/null", "/dev/full", "/dev/zero", "/dev/random", "/dev/urandom", "/dev/ptmx", "/dev/kvm", "/dev/kqemu", "/dev/rtc", "/dev/hpet", "/dev/sgx_virt", "/dev/sgx_enclave", "/dev/sgx_provision", "/dev/sgx_vepc" ]' }
#    - role: accelize.linux_kernel
#      vars:
#        kernel_version: 5.13.0-48
#        kernel_variant: "generic"
#        reboot_on_kernel_update: false
    - role: install_node
