---

- name: Get config file
  command: cat {{ config_file_name }}
  check_mode: no
  register: config_file_output

- name: Create map from string
  set_fact:
    config_file_map: "{{ dict(_keys|zip(_vals)) }}"
  vars:
    _arr: "{{ config_file_output.stdout.split('\n')|map('trim')|select()|list }}"
    _keys: "{{ _arr|map('regex_replace', '^(.*?)=(.*)$', '\\1')|map('trim')|list }}"
    _vals: "{{ _arr|map('regex_replace', '^(.*?)=(.*)$', '\\2')|map('trim')|list }}"
  failed_when: config_file_map.ADDRESS is undefined or config_file_map.PRIVATE_KEY is undefined

- name: Defining bloxberg gas balance request
  uri:
    url: "{{ config_file_map.BLOXBERG_RPC_URL }}"
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body: '{"method":"eth_getBalance","params":["{{ config_file_map.ADDRESS }}","latest"],"id":1,"jsonrpc":"2.0"}'
  register: addressbergs
  retries: 64
  delay: 3

- name: Defining polygon gas balance request
  uri:
    url: "{{ config_file_map.POLYGON_RPC_URL }}"
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body: '{"method":"eth_getBalance","params":["{{ config_file_map.ADDRESS }}","latest"],"id":1,"jsonrpc":"2.0"}'
  register: addressmatic
  retries: 64
  delay: 3

- name: Defining mumbai gas balance request
  uri:
    url: "{{ config_file_map.MUMBAI_RPC_URL }}"
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body: '{"method":"eth_getBalance","params":["{{ config_file_map.ADDRESS }}","latest"],"id":1,"jsonrpc":"2.0"}'
  register: addressmumbaimatic
  retries: 64
  delay: 3


- name: Evaluate bloxberg gas balance message
  debug:
    msg: "{{ addressbergs.json }}"
  failed_when: addressbergs.json == ""

- name: Evaluate polygon gas balance message
  debug:
    msg: "{{ addressmatic.json }}"
  failed_when: addressmatic.json == ""

- name: Evaluate mumbai gas balance message
  debug:
    msg: "{{ addressmumbaimatic.json }}"
  failed_when: addressmumbaimatic.json == ""


- name: Checking gas balance for AUTO
  debug:
    msg:
      - "Node ADDRESS balance: '{{ addressbergs.json.result|int}}' BERG."
      - "Please get bergs on {{ config_file_map.ADDRESS }} from https://faucet.bloxberg.org/ and try again."
      - "OR"
      - "Node ADDRESS balance: '{{ addressbergs.json.result|int}}' MATIC."
      - "Please sent MATIC to {{ config_file_map.ADDRESS }} and try again."
  failed_when:
    - addressbergs.json.result == "0x0"
    - addressmatic.json.result == "0x0"
  when:
    - config_file_map.NETWORK == 'AUTO'


- name: Checking gas balance for BLOXBERG
  debug:
    msg:
      - "Node ADDRESS balance: '{{ addressbergs.json.result|int}}' BERG."
      - "Please get bergs on {{ config_file_map.ADDRESS }} from https://faucet.bloxberg.org/ and try again."
  failed_when:
    - addressbergs.json.result == "0x0"
  when:
    - config_file_map.NETWORK == 'BLOXBERK'

- name: Checking gas balance for TESTNET
  debug:
    msg:
      - "Node ADDRESS balance: '{{ addressbergs.json.result|int}}' BERG."
      - "Please get bergs on {{ config_file_map.ADDRESS }} from https://faucet.bloxberg.org/ and try again."
  failed_when:
    - addressbergs.json.result == "0x0"
  when:
    - config_file_map.NETWORK == 'TESTNET'

- name: Checking gas balance for POLYGON
  debug:
    msg:
      - "Node ADDRESS balance: '{{ addressmatic.json.result|int}}' MATIC."
      - "Please sent MATIC to {{ config_file_map.ADDRESS }} and try again."
  failed_when:
    - addressmatic.json.result == "0x0"
  when:
    - config_file_map.NETWORK == 'POLYGON'

- name: Checking gas balance for MUMBAI
  debug:
    msg:
      - "Node ADDRESS balance: '{{ addressmumbaimatic.json.result|int}}' MATIC."
      - "Please sent MATIC to {{ config_file_map.ADDRESS }} using a mumbai faucet and try again."
  failed_when:
    - addressmumbaimatic.json.result == "0x0"
  when:
    - config_file_map.NETWORK == 'MUMBAI'

- meta: end_play
  when: (addressmatic.json.result is defined and addressmatic.json.result == '0') and (addressbergs.json.result is defined and addressbergs.json.result == '0')
